--extra-index-url https://download.pytorch.org/whl/cpu
fastapi==0.115.0
uvicorn[standard]==0.30.6
numpy==2.0.1
soundfile==0.12.1
torch==2.4.0+cpu
torchaudio==2.4.0+cpu
speechbrain==1.0.0
sqlalchemy==2.0.32
psycopg[binary]==3.2.1
python-multipart==0.0.9
pgvector==0.3.2
requests
